@model ApplicationFrontEnd.Models.DTO.OrderDTO

@{
    ViewData["Title"] = "Create Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-header">
            <h5 class="card-title">Crear una orden</h5>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Create" enctype="multipart/form-data">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="CustomerId">Customer ID</label>
                        <input asp-for="CustomerId" class="form-control" placeholder="Ingrese ID de customer" />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="TotalAmount">TotalAmount</label>
                        <input asp-for="TotalAmount" class="form-control" placeholder="Ingrese Monto total" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success btn-block mt-2">Crear Orden</button>
                        <a asp-action="Index" class="btn btn-secondary btn-block mt-2">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>