﻿﻿@{
    ViewData["Title"] = "List of Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2 class="titulito">Lista de Clientes</h2>
<br />
<div class="col-6">
    <a asp-action="Create" class="ov-btn-grow-ellipse">Crear nuevo cliente</a>
</div>
<br />
<div id="customersContainer">
    <!-- Los clientes se mostrarán aquí -->
</div>


@section Scripts {
    <script src="~/js/customer2.js"></script>
}

