﻿﻿@{
    ViewData["Title"] = "List of Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2 class="titulito">Lista de Productos</h2>
<br />
<div class="col-6">
    <a asp-action="Create" class="ov-btn-grow-ellipse">Crear nuevo Producto</a>
</div>
<br />
<div id="productsContainer" class="table-primary">

    <!-- Los productos se mostrarán aquí -->
</div>


@section Scripts {
    <script src="~/js/product.js"></script>
}
